<!--Razorfish Logo -->
<img class="razorfishlogo" src="images/rflogo.png">
<!--Nav -->
<ul class="navigation">
    <li data-slide="1">1</li>
    <li data-slide="2">2</li>
    <li data-slide="3">3</li>
    <li data-slide="4">4</li>
</ul>
<!--End Nav -->
    
<!--Slide 0-->
<div class="slide" id="slide0" data-slide="0" data-stellar-background-ratio="0.5">
    <div class="wrapper" id="title">
	 <!-- Top row lightbulbs -->
	 <ul class="top-lights">
	    <li><img src="images/slide0/lightbulboff.png" data-stellar-ratio="1.4" data-stellar-vertical-offset="-102"alt=""></li>
	    <li><img src="images/slide0/lightbulboff.png" data-stellar-ratio="1.4" data-stellar-vertical-offset="-102"alt=""></li>
	    <li><img src="images/slide0/lightbulboff.png" data-stellar-ratio="1.4" data-stellar-vertical-offset="-102"alt=""></li>
	    <li><img src="images/slide0/lightbulboff.png" data-stellar-ratio="1.4" data-stellar-vertical-offset="-102"alt=""></li>
	    <li><img src="images/slide0/lightbulboff.png" data-stellar-ratio="1.4" data-stellar-vertical-offset="-102"alt=""></li>
	    <li><img src="images/slide0/lightbulboff.png" data-stellar-ratio="1.4" data-stellar-vertical-offset="-102"alt=""></li>
	 </ul>
	
	<h1 class="title0"><span class="HW">Hello World</span> <span class="presents">Presents</span> <span class="FF">Favorite Failure</span></h1>
	<p>Everyone has a great idea that got killed. Tells us why yours deserves a second chance, and we might give it one.</p>
	
	<!-- Middle row lightbulbs -->
	<ul class="middle-lights">
	    <li><img src="images/slide0/lightbulboff.png" data-stellar-ratio="1.4" data-stellar-vertical-offset="-102"alt=""></li>
	    <li><img src="images/slide0/lightbulboff.png" data-stellar-ratio="1.4" data-stellar-vertical-offset="-102"alt=""></li>
	    <li><img src="images/slide0/lightbulboff.png" data-stellar-ratio="1.4" data-stellar-vertical-offset="-102"alt=""></li>
	    <li><img src="images/slide0/lightbulboff.png" data-stellar-ratio="1.4" data-stellar-vertical-offset="-102"alt=""></li>
	    <li><img src="images/slide0/lightbulbon.png" data-stellar-ratio="1.4" data-stellar-vertical-offset="-102"alt=""></li>
	    <li><img src="images/slide0/lightbulboff.png" data-stellar-ratio="1.4" data-stellar-vertical-offset="-102"alt=""></li>
	</ul>
	<!-- Bottom row lightbulbs -->
	<ul class="bottom-lights">
	    <li><img src="images/slide0/lightbulboff.png" data-stellar-ratio="1.4" data-stellar-vertical-offset="-102"alt=""></li>
	    <li><img src="images/slide0/lightbulboff.png" data-stellar-ratio="1.4" data-stellar-vertical-offset="-102"alt=""></li>
	    <li><img src="images/slide0/lightbulboff.png" data-stellar-ratio="1.4" data-stellar-vertical-offset="-102"alt=""></li>
	    <li><img src="images/slide0/lightbulboff.png" data-stellar-ratio="1.4" data-stellar-vertical-offset="-102"alt=""></li>
	    <li><img src="images/slide0/lightbulboff.png" data-stellar-ratio="1.4" data-stellar-vertical-offset="-102"alt=""></li>
	</ul>
	
    </div>
    <a class="button" data-slide="1" title="">Begin</a>
</div>
<!--End Slide 0 -->
    
    <!--Slide 1-->
    <div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
	<div class="mailbox">
		<img src="images/slide1/mbx.png" alt="">
		<h1 class="yourinfo">First, Tell us about yourself</h1>
	</div>
	<div class="wrapper" id="yourinfo">
    	    <form action="" id="submitIdea" method="post">	
		<ul class="form1">
		    <div class="yourphoto">
			<input type="file" name="Upload a photo">
			<div class="fakefile">
			    <input />
			    <img src="images/slide1/stamp.png" alt="your photo">			
			</div>
			<p>Upload a photo</p>
		    </div>
		    <li class="name"> <label for="creativeName">Name</label>
			<input type="text" name="creativeName" id="creativeName" required /></li>
		    <li><label for="creativeEmail">Email</label>
			<input type="email" name="creativeEmail" id="creativeEmail"required/></li>
		    <li><label for="teamMembers">Team Members</label>
			<input type="text" name="teamMembers" id="teamMembers" placeholder=" Optional" /></li>
		    <li><label for="creativeOffice">Office</label>
			<select class="city" name="creativeOffice" id="creativeOffice" form="submitIdea">
			    <option value="select">Select</option>
			    <option value="Digitas Philadelphia">Digitas Philadelphia</option>
			    <option value="Razorfish Atlanta">Razorfish Atlanta</option>
			    <option value="Razorfish Austin">Razorfish Austin</option>
			    <option value="Razorfish Chicago">Razorfish Chicago</option>
			    <option value="Razorfish Los Angeles">Razorfish Los Angeles</option>
			    <option value="Razorfish Philadelphia">Razorfish Philadelphia</option>
			    <option value="Razorfish Portland">Razorfish Portland</option>
			    <option value="Razorfish New York">Razorfish New York</option>
			    <option value="Razorfish San Francisco">Razorfish San Francisco</option>
			    <option value="Razorfish Seattle">Razorfish Seattle</option>
			</select>
		    </li>			
		</ul>		
    	</div>
	<a class="button" data-slide="2" title="">Next</a>
    </div>
    <!--End Slide 1 -->
    
    <!--Slide 2-->
    <div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
	<h1 class="projectinfo">Now tell us about your idea</h1>
	<div class="shelves">
		<img src="images/slide2/shelves.png" alt=""> 
	</div>
	<div class="wrapper" id="projectinfo">
	    <div class="client">
		<label for="client">I made this for</label>
		<input type="text" name="clientName" id="clientName" required placeholder="Client Name"/>
	    </div>
	    <div class="title">
		<label for="projectName">And called it</label>
		<input type="text" name="projectName" id="projectName" required placeholder="Project Name"/>
	    </div>
	</div>
	<!-- <img class="logodark" src="images/rflogodark.png" alt=""> -->
	<img src="images/slide2/page02a.png" alt="" class="transparency">
	<a class="button" id="slide2button" data-slide="3" title="">Next</a>  
    </div>
    <!--End Slide 2-->
    
    <!--Slide 3-->
    <div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
	<div class="failureinfo">
	    <h1>Why did your idea fail?</h1>
	    <p>Select as many reasons as you need</p>
	</div>
	<div class="wrapper" id="failureinfo">
	    <ul id="categorylist">	
		<li>
		    <input type="checkbox" class="failure" value="expensive" name="failure" id="expensive"/>
		</li>
		<li>
		    <input type="checkbox" class="failure" value="offensive" name="failure" id="offensive"/>
		</li>
		<li>
		    <input type="checkbox" class="failure" value="safe" name="failure" id="safe"/>
		</li> 
		<li>
		    <input type="checkbox" class="failure" value="confusing" name="failure" id="confusing"/>
		</li> 
		<li>
		    <input type="checkbox" class="failure" value="legal" name="failure" id="legal"/>
		</li> 
		<li>
		    <input type="checkbox" class="failure" value="offbrand" name="failure" id="offbrand"/>
		</li> 
		<li>
		    <input type="checkbox" class="failure" value="big" name="failure" id="big"/>
		</li> 
		<li>
		    <input type="checkbox" class="failure" value="small" name="failure" id="small"/>
		</li> 
		<li>
		    <input type="checkbox" class="failure" value="dangerous" name="failure" id="dangerous"/>
		</li>
		<li>
		    <input type="checkbox" class="failure" value="funny" name="failure" id="funny"/>
		</li>
		<li><input type="checkbox" class="failure" value="risky" name="failure" id="risky"/>
		</li> 
		<li>
		    <input type="checkbox" class="failure" value="other" name="failure" id="other"/>
		</li> 
	    </ul>
	</div>
	<img src="images/slide3/page03a.png" alt="" class="transparency">
	<a class="button" id="slide2button" data-slide="4" title="">Next</a>    
    </div>
    <!--End Slide 3-->
    
    <!--Slide 4-->
    <div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="0"">
	<div class="wrapper">	
	    <label for="pitch">Twitter Pitch: </label><br/>
	    <textarea name="pitch" class="pitch" maxlength="140" required placeholder="Describe your idea in 140 characters or less" rows="4" cols="50" onkeyup="limitTextCount('pitch', 'divcount', 140);" onkeydown="limitTextCount('title', 'divcount', 140);"></textarea><br>
	    <span class="countdown" ></span><br/>
	    <label for="upload">Upload some stuff to support your idea! </label><br/>
	    <input type="file" name="supportingfiles" multiple="multiple"/><br/><br/>
	</div>
	<img src="images/slide4/page04a.png" alt="" class="transparency">
	<input type="submit" name="submit" class="submit" title=""/>
    </div>
    <!--End Slide 4-->
	</form>