<div class="thanks">
    <img src="images/slide4/curtainleft.png" alt="" class="curtainleft"/>
    <img src="images/slide4/spotlight.png" alt="" class="spotlight" />
    <img src="images/slide4/curtainright.png" alt="" class="curtainright"/>
    <img src="images/slide4/microphone.png" alt="" class="microphone" />
    <div class="wrapper" id="thanksmessage">
        <h1 id="thanks">Thanks for submitting your favorite failure!</h1>
        <p>We'll be taking submissions until December 10, 2012</p>
        <a href="/">Submit Another</a>
        <a href="http://google.com">See Other Ideas</a>
    </div>
    <img src="images/slide4/page04a.png" alt="" class="transparency">
</div>