@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'BebasRegular';
    src: url('font/BEBAS___-webfont.eot');
    src: url('font/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/BEBAS___-webfont.woff') format('woff'),
         url('font/BEBAS___-webfont.ttf') format('truetype'),
         url('font/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
        font-family:'InTheKnow';
	src: url('font1/InTheKnow.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family:'Dandelion';
    src: url('font2/dandelioninthespring.ttf');
}

html,body{
 font-family: 'InTheKnow';
	width:100%;
	height:100%;
}

.navigation{
	position:fixed;
	z-index:1;
	top:30%;
}
.navigation li{
	color:rgba(255,255,255,0.3);
	display:block;
	padding: 0 10px;
	line-height:1.1em;
	margin-bottom:2px;
	font-family:'Dandelion';
	font-weight:normal;
	font-size:1.5em;
	-webkit-transition: all .2s ease-in-out;
	text-align:left;
}
.navigation li:hover,.active{
	color:rgba(255,255,255,1.0);
	font-size:3.0em;
	cursor:pointer;
}
.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}
.razorfishlogo {
    position:fixed;
    bottom:1%;
    left:1%;
    z-index:1;
}

.wrapper{
    font-family: 'helvetica';
    font-size:1.0em;
    margin: 0 auto;
    width: 90%; /* arbitrary - looks best */
    position:relative;
    top: 10%;
    /*border:1px black dashed;*/
}
input[type=submit].button{
  background:none;
  border:none;
}
.button{
	display:block;	
	position:absolute;
	z-index:5;
	bottom:1%;
	left:48%;
	font-family:'InTheKnow';
	font-size:3.0em;
	font-weight:bold;
	color:rgba(255,255,255,1.0);
}
.button:hover{
	color:rgba(255,255,255,0.5);
	cursor:pointer;
}
.submit {
	background:none;
	border:none;
	display:block;	
	position:absolute;
	z-index:5;
	bottom:1%;
	left:50%;
	font-family:'InTheKnow';
	font-size:3.0em;
	font-weight:bold;
	color:rgba(255,255,255,1.0);
}
.submit:hover {
    color:rgba(255,255,255,0.5);
    cursor:pointer;
}
/******************************
 SLIDE 0 
*******************************/
#slide0{
	background-image:url(../images/slide0/page00.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.top-lights,
.middle-lights,
.bottom-lights {
    /* remove default list styles */
	list-style: none;
	margin: 0;
	padding: 0;
}
.top-lights li,
.bottom-lights li {
    display:inline-block;
    vertical-align:top;
    padding-right:5%;
}

.middle-lights li {
    display:inline-block;
    vertical-align:top;
    padding-right:5%;
    padding-top:3%;
}
.wrapper#title{
    position:relative;
    height:auto;
    text-align:center;
    font-family:helvetica;
    /*border:1px green solid;*/

}
.title0{
    padding-top:2%;
}
.HW{
    color:#CC6666;
    font-family:helvetica;
    font-size:3.5em;
    letter-spacing:0.3px;
    font-weight:bold;
    position:relative;
}
.presents{
    text-transform:uppercase;
    color:rgba(255,255,255,0.8);
    font-family:'InTheKnow';
    font-size:2.0em;
    letter-spacing:0.1em;
    position:relative;
    padding-left:1%;
    padding-right:1%;
}
.FF{
    color:rgba(255,255,255,0.8);
    font-family:'InTheKnow';
    font-size:4.5em;
    font-weight:normal;
    letter-spacing:0.1em;
    position:relative;
    
}
p{
    font-size: 1.0em;
    color:#CCCCCC;
    position:relative;
}
/******************************
 SLIDE 1 
*******************************/
#slide1{
	background-image:url(../images/slide1/page01.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-width:960px;
}
.mailbox {
    position:relative;
    z-index:1;
    float:right;
    margin-right:0;
    overflow:hidden;
    bottom:0;
    width:77.734%;
    height:100%;
    /*border:1px red solid;*/

}
.mailbox img{
    position:absolute;
    right:0;
    bottom:0;
    max-width:100%;
}

.wrapper#yourinfo{
    position:relative;
    z-index:2;
    height:100%;
    text-align:center;
    /*border:1px green solid;*/
}
h1.yourinfo {
    color:rgba(255,255,255,0.8);
    font-family:'InTheKnow';
    font-size:3.5em;
    font-weight:normal;
    position:relative;
    z-index:2;
    top:5% !important;
    text-align:left;
    padding-left:20%;
    /*border:1px red solid;*/
}
.form1{
    -webkit-transform:rotate(-5deg); /* Safari and Chrome */
    -ms-transform:rotate(-5deg); /* IE 9 */
    -moz-transform:rotate(-5deg); /* Firefox */
    -o-transform:rotate(-5deg); /* Opera */
    background-image:url(../images/slide1/letter.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-origin:content-box;
    text-align:left;
    position:absolute;
    z-index:2;
    width: 50%;
    height:50%;
    left:18%;
    top:10%;
    font-family: 'Dandelion';
    color: #2f3a45;
    font-size:1.5em;
    line-height:1.7em;
   /* border:2px dotted purple;*/
}
.form1 input,
.form1 select {
    display:inline;
    float:right;
    line-height:1.2em;
    padding-top:5px;
    padding-left:5px;
}
.form1 li {
    margin-left:20px;
    width:50%;
}
li input#creativeName,
li input#creativeEmail,
li select {
    width:65%;
}
li input#teamMembers {
    width:35%;
}
li.name {
    margin-top:20px;
}
.yourphoto {
    position:relative;
    width:30%;
    height:auto;
    float:right;
    margin-right:20px;
    margin-top:20px;
  /*  border:1px black solid; */
}
.yourphoto p {
    color:#2f3a45;
    float:right;
    text-align:right;
}
.fakefile {
    position:relative;
    top:0;
    z-index:1;
}
.yourphoto img,
.yourphoto input {
    float:right;
}
.yourphoto input {
    position:absolute;
    width:100%;
    height:100%;
    right:0;
    z-index:2;
    opacity:0;
    -moz-opacity:0;
    filter:alpha(opacity: 0);
}
.yourphoto input:hover {
    cursor:pointer;
}
select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -webkit-border-radius:0;
    -moz-border-radius:0;    
    background:#FFF url(../images/slide1/arrow.png) no-repeat right center;
    border: 2px inset;
    cursor:pointer;
}

/******************************
 SLIDE 2 
*******************************/
#slide2{
	background-image:url(../images/slide2/page02.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;		
}
h1.projectinfo {
    color:#2f3a45;
    font-family:'InTheKnow';
    font-size:4.0em;
    font-weight:normal;
    position:relative;
    z-index:2;
    margin: 0 auto;
    top:3% !important;
    text-align:center;
    /* border:1px red solid; */
}
.shelves {
    position:absolute;
    top:10%;
    z-index:0;
    float:left;
    width:100%;
    height:50%;
    overflow:hidden;
    /* border:1px red solid; */
}
.shelves img {
    z-index:1;
    position:absolute;
    height:100%;
    top:0;
}
#projectinfo {
    background-image:url(../images/slide2/book.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-origin:content-box;
    text-align:left;
    position:absolute;
    width: 40%;
    height:50%;
    left:30%;
    top:40%;
    z-index:2;
    font-family: 'Dandelion';
    color: #2f3a45;
    font-size:1.5em;
    line-height:1.7em;
    /* border:1px purple dotted; */
}
.client{
    position:relative;
    float:left;
    width:40%;
    left:5%;
    top:25%;
    /*border:1px blue dashed;*/
}
.title {
    position:relative;
    top:25%;
    width:40%;
    right:5%;
    float:right;
   /* border:1px green dashed;*/
}
.client input,
.title input {
    max-width:90%;
    display:inline;
    line-height:1.2em;
    padding-top:5px;
    padding-left:5px;
    margin-left:3%;
    margin-top: 5%;
}
.client label,
.title label {
    display:block;
    margin-bottom:10px;
    font-family: 'InTheKnow';
    font-size:2.0em;
    letter-spacing:1px;
    text-align: left;
    padding-left:7px;
}
.book img{
    z-index:1;
    position:absolute;  
    bottom:0;
    max-width:100%;
}

#slide2button {
    color:#2f3a45;
}
#slide2button:hover {
    color:#B0B0B0;
}

.logodark {
    position:absolute;
    bottom:1%;
    left:1%;
    z-index:2;
}


/******************************
 SLIDE 3 
*******************************/
#slide3{
	background-image:url(../images/slide3/page03.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}
.wrapper#failureinfo {
    height:61%;
    width:80%;
   /* border:1px solid yellow;*/
}
.failureinfo {
    position:relative;
    margin: 0 auto;
    top:3% !important;
}
.failureinfo h1 {
    color:rgb(255,255,255);
    font-family:'InTheKnow';
    font-size:4.0em;
    font-weight:normal;
    z-index:2;
    text-align:center;
  /*  border:1px red solid;*/
}
.failureinfo p {
    font-size: 1.1em;
    line-height:1.2em;
    font-family:'helvetica';
    text-align:center;
    color:rgb(255,255,255);
   /* border:1px green solid;*/
}
ul#column1,
ul#column2,
ul#column3,
ul#column4,
ul#column5 {
  /*  border:1px solid green;*/
}
.expensiveimage img:hover,
.offensiveimage img:hover,
.safeimage img:hover,
.legalimage img:hover,
.confusingimage img:hover,
.bigimage img:hover,
.smallimage img:hover,
.dangerousimage img:hover,
.offbrandimage img:hover,
.funnyimage img:hover,
.riskyimage img:hover,
.otherimage img:hover {
    cursor:pointer;
}
/******************************* COLUMN 1 ****************************************/
ul#column1 {
    position:absolute;
    display:block;
    width:16%;
    height:100%;
}
#column1 li#ex,
#column1 li#of {
   /* border:1px solid blue;   */
}
#column1 li#ex {
    position:absolute;
    bottom:0;
    z-index:3;
}
#column1 li#of {
    position:absolute;
    bottom:25%;
    left:30%;
    z-index:3;
}
.expensiveimage,
.offensiveimage {
    max-width:100%;
   /* border:1px solid red;*/
}
.expensiveimage img,
.offensiveimage img {
    max-width:100%;
}

/******************************* COLUMN 2 ****************************************/
ul#column2 {
    position:absolute;
    display:block;
    left:17%;
    width:16%;
    height:100%;
}
#column2 li#sfe,
#column2 li#cnf,
#column2 li#leg {
  /*  border:1px blue solid;*/
}
#column2 li#leg {
    position:absolute;
    z-index:3;
    bottom:0;
}
#column2 li#cnf {
    position:absolute;
    z-index:3;
    bottom:27%;
    left:5%;
}
#column2 li#sfe {
    position:absolute;
    z-index:3;
    bottom:53%;
    left:5%;
}
.legalimage,
.safeimage,
.confusingimage {
    max-width:100%;
  /*  border:1px solid red;*/
}
#column2 li#leg img,
#column2 li#sfe img,
#column2 li#cnf img {
    max-width:100%;
}
/******************************* COLUMN 3 ****************************************/
ul#column3 {
    position:absolute;
    display:block;
    left:34%;
    width:26%;
    height:100%;
}
#column3 li#bg,
#column3 li#ob,
#column3 li#sm,
#column3 li#dg{
  /*  border:1px blue solid;*/
}
#column3 li#bg {
    position:absolute;
    z-index:3;
    bottom:0;
}
#column3 li#ob {
    position:absolute;
    z-index:3;
    bottom:47%;
}
#column3 li#dg {
    position:absolute;
    z-index:3;
    bottom:47%;
    left:45%;
}
#column3 li#sm {
    position:absolute;
    z-index:3;
    bottom:73%;
    left:45%;
}
.bigimage,
.smallimage,
.dangerousimage,
.offbrandimage {
    max-width:100%;
  /*  border:1px solid red;*/
}
#column3 li#bg img,
#column3 li#sm img,
#column3 li#ob img,
#column3 li#dg img {
    max-width:100%;
}
/******************************* COLUMN 4 ****************************************/
ul#column4 {
    position:absolute;
    display:block;
    left:61%;
    width:21%;
    height:100%;
}
#column4 li#fn,
#column4 li#rk{
 /*   border:1px blue solid;*/
}

#column4 li#rk{
    position:absolute;
    z-index:3;
    bottom:0;
}
#column4 li#fn {
    position:absolute;
    z-index:3;
    bottom:28%;
    right:0;
}
.funnyimage,
.riskyimage {
    max-width:100%;
  /*  border:1px solid red;*/
}
#column4 li#fn img,
#column4 li#rk img {
    max-width:100%;
}
/******************************* COLUMN 5 ****************************************/
ul#column5 {
    position:absolute;
    display:block;
    left:83%;
    width:17%;
    height:100%;
}
#column5 li#oth{
  /*  border:1px blue solid;*/
}
#column5 li#oth {
    position:absolute;
    z-index:3;
    bottom:0;
    right:0;
}
.otherimage {
    max-width:100%;
  /*  border:1px solid red;*/
}
#column5 li#oth img {
    max-width:100%;
}
/******************************* END COLUMNS ****************************************/

input[type=checkbox] {
   /* display:none;*/
    position: relative;
   /* z-index: 4;*/
}
input[type=checkbox]{
    display:none;
}
.myfailure span {
    width:100px;
    height:100px;
    display:block;
    background:url('../images/slide3/expensive.png');
}
.myfailure input + span:hover {
    cursor:pointer;
}
.myfailure input:checked + span {
    background:url('../images/slide3/expensivehover.png');
}
/******************************
 SLIDE 4 
*******************************/

#slide4{
	background-image:url(../images/slide4/page04.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

img.transparency{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}
.countdown{
    position: relative;
    font-size: 18px;
    left: 485px;
}
.pitch{
    font-size: 18px;
}

/******************************
 THANKS PAGE
*******************************/
.thanks {
    margin:0 auto;
    top:10%;
    font-family:'InTheKnow';
    font-size:4.0em;
    text-align:center;
    letter-spacing:0.1em;
    position:relative;  
}
.thanks a {
    font-size:0.75em;
    letter-spacing:normal;
}
