@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'BebasRegular';
    src: url('font/BEBAS___-webfont.eot');
    src: url('font/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/BEBAS___-webfont.woff') format('woff'),
         url('font/BEBAS___-webfont.ttf') format('truetype'),
         url('font/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
        font-family:'InTheKnow';
	src: url('font1/InTheKnow.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family:'Dandelion';
    src: url('font2/dandelioninthespring.ttf');
}

html,body{
 font-family: 'InTheKnow';
	width:100%;
	height:100%;
}

.navigation{
	position:fixed;
	z-index:1;
	top:30%;
}
.navigation li{
	color:rgba(255,255,255,0.3);
	display:block;
	padding: 0 10px;
	line-height:1.1em;
	margin-bottom:2px;
	font-family:'Dandelion';
	font-weight:normal;
	font-size:1.5em;
	-webkit-transition: all .2s ease-in-out;
	text-align:left;
}
.navigation li:hover,.active{
	color:rgba(255,255,255,1.0);
	font-size:3.0em;
	cursor:pointer;
}
.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}
.razorfishlogo {
    position:fixed;
    bottom:1%;
    left:1%;
    z-index:1;
}

.wrapper{
    font-family: 'helvetica';
    font-size:1.0em;
    margin: 0 auto;
    width: 90%;
    position:relative;
    top: 10%;
}
.countdown{
    position: relative;
    font-size: 18px;
    left: 485px;
}
.pitch{
    font-size: 18px;
}

input[type=submit].button{
  background:none;
  border:none;
}

.button{
	display:block;	
	position:absolute;
	bottom:1%;
	left:50%;
	font-family:'InTheKnow';
	font-size:3.0em;
	font-weight:bold;
	color:rgba(255,255,255,1.0);
}
.button:hover{
	color:rgba(255,255,255,0.5);
	cursor:pointer;
}
/******************************
 SLIDE 0 
*******************************/
#slide0{
	background-image:url(../images/slide0/page00.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.top-lights{
    /* remove default list styles */
	list-style: none;
	margin: 0;
	padding: 0;
}
.top-lights li{
    display:inline-block;
    vertical-align:top;
    padding-right:5%;
}
.middle-lights {
    /* remove default list styles */
	list-style: none;
	margin: 0;
	padding: 0;
}
.middle-lights li {
    display:inline-block;
    vertical-align:top;
    padding-right:5%;
    padding-top:3%;
}
.bottom-lights{
    /* remove default list styles */
	list-style: none;
	margin: 0;
	padding: 0;
}
.bottom-lights li {
    display:inline-block;
    vertical-align:top;
    padding-right:5%;
}
#title{
    position:relative;
    width:80.5%;
    height:100%;
    text-align:center;
    font-family:helvetica;
}
.title0{
    padding-top:2%;
}
.HW{
    color:#CC6666;
    font-family:helvetica;
    font-size:3.5em;
    letter-spacing:0.3px;
    font-weight:bold;
    position:relative;
}
.presents{
    text-transform:uppercase;
    color:rgba(255,255,255,0.8);
    font-family:'InTheKnow';
    font-size:2.0em;
    letter-spacing:0.1em;
    position:relative;
    padding-left:1%;
    padding-right:1%;
}
.FF{
    color:rgba(255,255,255,0.8);
    font-family:'InTheKnow';
    font-size:4.5em;
    font-weight:bold;
    letter-spacing:0.1em;
    position:relative;
    
}
p{
    font-size: 1.0em;
    color:#CCCCCC;
    position:relative;
}
/******************************
 SLIDE 1 
*******************************/
#slide1{
	background-image:url(../images/slide1/page01MBL.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}
#yourinfo{
    position:relative;
    width:80.5%;
    height:100%;
    text-align:center;
    top:1% !important;
}
.yourinfo {
    color:rgba(255,255,255,0.8);
    font-family:'InTheKnow';
    font-size:3.5em;
    font-weight:normal;
    position:relative;
    text-align:center;
}
.form1 {
    text-align:left;
    position:relative;
    width: 30%;
    top:25%;
    font-family: 'Dandelion';
    color: #333366;
    font-size:1.5em;
    line-height:1.7em;
}
input {
    float:right;
    line-height:1.2em;
    padding-top:5px;
}
input#creativeName {
    width:75%;
}
input#creativeEmail {
    width:75%;
}
input#teamMembers {
    width:55%;
}
p.address {
    text-align:left;
    position:relative;
    width: 30%;
    top:30%;
    left:25%;
    font-family: 'InTheKnow';
    color: rgba(102,102,102,0.3);
    font-size:2.0em;
    letter-spacing: 1px;
}
.numbers {
    font-family: 'Dandelion';
}
select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    line-height:1.2em;
    padding-top:5px;
    padding-left:5px;
    width:75%;
    background:#FFF url(../images/slide1/arrow.png) no-repeat right center;
    float:right;
    border: 2px inset;
    cursor:pointer;
}

/******************************
 SLIDE 2 
*******************************/
#slide2{
	background-image:url(../images/slide2/page02.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;		
}

/******************************
 SLIDE 3 
*******************************/
#slide3{
	background-image:url(../images/slide3/page03.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

/******************************
 SLIDE 4 
*******************************/

#slide4{
	background-image:url(../images/slide4/page04.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

img.transparency{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}
