@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'BebasRegular';
    src: url('font/BEBAS___-webfont.eot');
    src: url('font/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/BEBAS___-webfont.woff') format('woff'),
         url('font/BEBAS___-webfont.ttf') format('truetype'),
         url('font/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html,body{
 font-family: 'BebasRegular';
	width:100%;
	height:100%;
}

.navigation{
	position:fixed;
	z-index:1;
	top:30%;
}
.navigation li{
	color:#333333;
	display:block;
	padding: 0 10px;
	line-height:30px;
	margin-bottom:2px;
	font-weight:bold;
	-webkit-transition: all .2s ease-in-out;
	/*border-bottom:1px solid black;*/
	text-align:left;
	/*width:23px;*/
}
.navigation li:hover,.active{
	font-size:25px;
	cursor:pointer;
	border-bottom:1px solid black;
	width:20px!important;
}
.fflogo{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	background-color:rgb(255,255,255);
	z-index:1;
}
.fflogo p{	
	margin:0 0 10px 10px;
	font-family: 'helvetica';
	font-size: 16px;
}
.fflogo h1{
	
	margin: 10px 0 0 10px;
	font-size: 48px;
	font-weight:bold;
	color:rgba(0,0,0,0.5);
	line-height: 52px;
}
.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}
.wrapper{
	width:660px;
	height:200px;
	top: 30%;
	left: 30%;
	font-family: 'helvetica';
	font-size: 24px;
	position:relative;
	line-height: 30px;
	color:#333333;
}
select.city {
    width: 320px;
    height: 30px;
    line-height: 30px;
    background-color: #F0FAFA;
}
.countdown{
    position: relative;
    font-size: 18px;
    left: 485px;
}
.pitch{
    font-size: 18px;
}
.submit{
    position: relative;
    bottom: 0;
    left: 20%;
    width: 100px;
    font-size: 24px;
}
.slideno{
	position:absolute;
	bottom:0px;
	left:10px;
	font-size:24px;
	font-weight:bold;
	color:rgba(255,255,255,0.3);
}
.button{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	bottom:0px;
	left:50%;
	background-color:#333333;
	background-image:url(../images/arrow.png);
}
.button:hover{
	background-color:#494949;
	cursor:pointer;
}

/******************************
 SLIDE 1 
*******************************/
#slide1{
	background-color:#8ABAB5;
	
}
/******************************
 SLIDE 2 
*******************************/
#slide2{
	background-color:#31B2F7;
	
}

/******************************
 SLIDE 3 
*******************************/
#slide3{
	background-color:#F70A0A;
}

/******************************
 SLIDE 4 
*******************************/

#slide4{
	background-color:#F2981B;
	
}
